data-inputs/sample-*
data-inputs/FILE_AGE.db
containers/jupyter/notebooks/.ipynb_checkpoints/*
containers/jupyter/notebooks/.jupyter/*
containers/jupyter/notebooks/.local/*
containers/elastalert/alerts/.ipynb_checkpoints/*
notebooks/.*